# Ignore environment variables (API keys - NEVER commit this!)
.env

# Ignore virtual environments
venv/
.venv/

# Ignore raw Kaggle datasets (too large for GitHub)
*.csv

# Ignore resumes and PDFs
*.pdf

# Ignore MacOS system files
.DS_Store

# Do NOT ignore the database! The app needs it.
!database/skill_gap.db
